# global
*                                    @cicdw @desertaxle @zzstoatzz

# ui
/ui                                  @znicholasbrown

# documentation
/docs                                @discdiver @cicdw @desertaxle @zzstoatzz
# imports
/src/syntask/__init__.py              @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
/src/syntask/main.py                  @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
