# global
*                                    @Synopkg/open-source

# backend
/src/syntask/server                   @Synopkg/open-source @zangell44

# ui
/ui                            @pleek91 @znicholasbrown

# documentation
/docs                                @Synopkg/docs
mkdocs.yml                           @Synopkg/docs
mkdocs.insiders.yml                  @Synopkg/docs

# orchestration rules / policies
/src/syntask/server/orchestration     @Synopkg/open-source

# database configuration / models
/src/syntask/server/database          @Synopkg/open-source

# the events subsystem, while it's being ported
/src/syntask/events                   @chrisguidry
/src/syntask/server/events            @chrisguidry
/tests/events                         @chrisguidry
