# Things to always exclude
global-exclude .git*
global-exclude .ipynb_checkpoints
global-exclude *.py[co]
global-exclude __pycache__/**

# Top-level Config
include LICENSE
include MANIFEST.in
include setup.cfg
include versioneer.py
include requirements.txt
include requirements-dev.txt
include requirements-client.txt
include src/syntask/_version.py
include src/syntask/py.typed
include src/syntask/profiles.toml
include src/syntask/deployments/recipes/*/*.yaml
include src/syntask/deployments/templates/*.yaml
include src/syntask/.syntaskignore
include src/syntask/logging/logging.yml
include src/syntask/cli/templates/*.yaml
include src/syntask/server/collection_blocks_data.json
include src/syntask/server/api/collections_data/views/*.json

# Migrations
include src/syntask/server/database/alembic.ini
include src/syntask/server/database/migrations/*
include src/syntask/server/database/migrations/versions/*
include src/syntask/server/database/migrations/versions/*/*

# SQL templates
graft src/syntask/server/database/sql

# Package files and data
graft src/syntask/server/ui
graft src/syntask/server/api/static
